@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>数据记录</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/framework/css/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/select2/css/select2.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="/Content/jquery/jquery-1.9.1.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="~/Content/jquery/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/ztree/js/jquery.ztree.all.min.js"></script>
    <link href="~/Content/ztree/css/metroStyle/metroStyle.css" rel="stylesheet" />
    <script src="~/Content/select2/js/select2.min.js"></script>
    <script src="~/Content/framework/js/global.js"></script>
</head>
<style>
    #gridList td {
        width: 50px
    }
</style>
<body>
    <div class="container-fluid fadeIn animated">
        <div class="layui-inline" style="margin-bottom: 1px;margin-top: 10px">
                <select lay-ignore name="lineId" class="select2" id="lineId"  style="width: 250px;height: 30px;" lay-verify="required"></select>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="FNMES-panel container-panel">
                    <ul id="treeItem" class="ztree"></ul>
                </div>
            </div>
            <div class="col-md-10" >
                <div class="panel container-panel" >
                    <div class="panel-body">
                        <div id="toolbar" class="FNMES-table-toolbar">
                            <div class="layui-btn-group"> </div>
                            <div class="layui-btn-group" id="queryDate">
                                <button value="1" class="layui-btn layui-btn-primary layui-btn-small">今天</button>
                                <button value="2" class="layui-btn layui-btn-primary layui-btn-small active">近7天</button>
                                <button value="3" class="layui-btn layui-btn-primary layui-btn-small">近1个月</button>
                                <button value="4" class="layui-btn layui-btn-primary layui-btn-small">近3个月</button>
                            </div>

                            <button id="btnSearch" class="toolbar-search-button layui-btn layui-btn-normal layui-btn-small" style="line-height:20px">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                            <div class="toolbar-search-input">
                                <input type="text" id="keyWord" placeholder="关键字" autocomplete="off" class="layui-input" style="height:39px">
                            </div>
                        </div>
                        <table id="gridList" lay-filter="gridList" class="layui-table" lay-skin="line"></table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
            
<!--内容模板-->
<script id="statusTpl" type="text/html">
     {{# if(d.Status === 1){ }}
     <span class="label label-success label-sm">OK</span>
    {{# } else { }}
       <span  class="label label-red label-sm">NG</span>
        <!-- 其他状态的处理，可以根据实际需求添加更多条件 -->
    {{# } }}
</script>
<script id="statusTpl" type="text/html">
     {{# if(d.Status === 1){ }}
     <span class="label label-red label-sm">开始</span>
    {{# } else { }}
      <span   class="label label-succes label-sm">复位</span>
        <!-- 其他状态的处理，可以根据实际需求添加更多条件 -->
    {{# } }}
</script>
<script id="selectTpl" type="text/html">
     {{# if(d.Status === 1){ }}
     <span class="label label-success label-sm">是</span>
    {{# } else { }}
       <span  class="label label-dark label-sm">否</span>
        <!-- 其他状态的处理，可以根据实际需求添加更多条件 -->
    {{# } }}
</script>

      
      



<script type="text/javascript">
    var paging;
    layui.config({
        base: parent._baseUrl
    }).use(['paging', 'form', 'layer',"table"], function () {
        var layer = parent.layer || layui.layer;
        var form = layui.form;
        var table = layui.table;
        paging = layui.paging();
        $("#lineId").bindSelect({
            type: "POST",
            url: "/system/line/getListTreeSelect",
            title: '请选择线体'
        });
        $("#toolbar").authorizeButton();
        $('#btnSearch').click(initGrid);
        $('#keyWord').bindEnterEvent(initGrid);
       // initGrid();
        initTree();
        

        

    });
    //$("#lineId").bindChangeEvent(initGrid);
    $("#lineId").on("select2:select", function (e) {
    // 处理选择事件
        if ($("#lineId").val() == "0") {
            return
        };
        initGrid();
    });

    $('#queryDate').find('button').click(function (i, v) {
        $(this).addClass('active');
        $(this).siblings('button').removeClass('active');
        initGrid();
    });

    function initTree() {
        var setting = {
            data: {
                simpleData: {
                    enable: true
                }
            },
            check: {
                enable: false,
                chkStyle: "checkbox",
                chkDisabledInherit: false
            },
            // async: {
            //     enable: true,
            //     url: "/record/general/getListTree",
            //     dataType: "text",
            //     autoParam: ["id", "name"]
            // }, 
            callback: {
                // onAsyncSuccess: function (event, treeId, treeNode, msg) {
                //     var node = zTreeObj.getNodesByFilter(function (node) {
                //         return node.level == 1
                //     }, true);
                //     zTreeObj.selectNode(node);
                //     zTreeObj.setting.callback.onClick(event, zTreeObj.setting.treeId, node);
                // },
                onClick: function (event, treeId, treeNode) {
                    initGrid();
                }
            }
        };
        var zNodes = [
            { id: 1, pId: 0, name: "测试数据列表", open: true },
            { id: 11, pId: 1, name: "ACR原始测试纪录" ,checked: true},
            { id: 12, pId: 1, name: "EOL原始测试纪录" },
            { id: 13, pId: 1, name: "OCV原始测试纪录" },
            { id: 14, pId: 1, name: "ELEC原始测试纪录" },
        ];
        var zTreeObj = $.fn.zTree.init($("#treeItem"), setting, zNodes);
        // 通过节点 ID 选中节点
        var node = zTreeObj.getNodeByParam("id", 11, null); // 假设要选中 ID 为 11 的节点
        zTreeObj.selectNode(node);
    };
    function initGrid() {
        if ($("#lineId").val() == "0") {
            return
        };
        var treeObj = $.fn.zTree.getZTreeObj("treeItem");
        var selectedNode = treeObj.getSelectedNodes()[0];
        if (selectedNode.pId == 0) {
            return;
        }
        var selectUrl = '/record/detect/acr';
        if (selectedNode.id == "11") {
            selectUrl = '/record/detect/acr';
        } else if (selectedNode.id == "12") {
            selectUrl = '/record/detect/eol';
        }else if (selectedNode.id == "13") {
            selectUrl = '/record/detect/ocv';
        } else if (selectedNode.id == "14") {
            selectUrl = '/record/detect/elec';
        };
        layui.table.render({
            elem: '#gridList',
            url: selectUrl, // 替换成实际的接口地址
            where: {
                keyWord: $("#keyWord").val(),
                configId: $("#lineId").val(),
                index: $('#queryDate').find('button.active').val()
            },
            cols: [getCols()],
            parseData: function (res) { 
                return {
                    "code": res.code,
                    "msg": res.msg,
                    "count": res.count,
                    "data": res.list,
                };
            },
            page: true, // 开启表格默认分页
            limit: 10, // 每页显示条数
            limits:[5,10]
        });
    }



    function getCols() {
            return[
                // Define your columns for condition 1
                { field: 'Id', title: 'Id' },
                { field: 'ProductCode', title: '内控码' },
                { field: 'Result', title: '结果' },
                { field: 'Data', title: '测试数据' },
                { field: 'CreateTime', title: '测试时间' },
             ];
    }
    
    </script>
