@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>工步</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/framework/css/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/select2/css/select2.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="/Content/jquery/jquery-1.9.1.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="~/Content/jquery/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/framework/js/global.js"></script>
    <link href="~/Content/ztree/css/metroStyle/metroStyle.css" rel="stylesheet" />
    <script src="~/Content/ztree/js/jquery.ztree.all.min.js"></script>
    <script src="~/Content/select2/js/select2.min.js"></script>
    <script src="~/Content/framework/js/global.js"></script>
</head>
<body>
    <div class="container-fluid fadeIn animated">
        <div class="layui-btn-group">
            <button class="layui-btn layui-btn-primary layui-btn-small" onclick="btn_add()">增加</button>
            <button class="layui-btn layui-btn-primary layui-btn-small" onclick="btn_modify()">修改</button>
            <button class="layui-btn layui-btn-primary layui-btn-small" onclick="btn_delete()">删除</button>
        </div>
        @* <div class="panel container-panel"> *@
            @* <div class="panel-body"> *@
                <table id="gridList" class="layui-form layui-table FNMES-table" lay-skin="line">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" lay-skin="primary">
                            </th>
                    @*<th>小工位</th>*@
                            <th>工步编码</th>
                            <th>工步名</th>
                            <th>序号</th>
                            <th>物料编码</th>
                            <th>描述</th>
                            <th>版本</th>
                            <th>数量</th>
                            <th>单位</th>
                        </tr>
                    </thead>
                    <!--内容容器-->
                    <tbody id="content1"></tbody>
                </table>
                <div id="paged1"></div>

                @*<div id="toolbar" class="FNMES-table-toolbar">
                    <div class="layui-btn-group">
                        <button onclick="btn_show()" class="layui-btn layui-btn-primary layui-btn-small">查询替代料</button>
                    </div>
                </div>
                <table id="gridList2" class="layui-form layui-table FNMES-table" lay-skin="line">
                    <thead>
                        <tr>
                            <th>物料编码</th>
                            <th>描述</th>
                            <th>版本</th>
                            <th>数量</th>
                            <th>替代比例</th>
                            <th>单位</th>
                        </tr>
                    </thead>
                    <!--内容容器-->
                    <tbody id="content2"></tbody>
                </table>
        <div id="paged2"></div>*@
           
       
    </div>
</body>
</html>

<!--内容模板-->
<script id="contentTpl1" type="text/html">
    {{#  layui.each(d.list, function(index, item){ }}
    <tr>
        <td>
            <input type="checkbox" lay-skin="primary" value="{{item.Id}}">
        </td>
        @*<td>{{item.SmallStationCode}}</td>*@
        <td>{{item.StepNo}}</td>
        <td>{{item.StepName}}</td>
        <td>{{item.OrderNo}}</td>
        <td>{{item.PartNumber}}</td>
        <td>{{item.PartDescription}}</td>
        <td>{{item.PartVersion}}</td>
        <td>{{item.PartQty}}</td>
        <td>{{item.Uom}}</td>
    </tr>
     {{#  }); }}
       {{# if(d.list.length<=0) { }}
          <tr style="color: red">
              <td colspan="8">查无数据。</td>
          </tr>
      {{# } }}
    
</script>
<script id="contentTpl2" type="text/html">
    {{#  layui.each(d.list, function(index, item){ }}
    <tr>
        <td>{{item.PartNumber}}</td>
        <td>{{item.PartDescription}}</td>
        <td>{{item.PartVersion}}</td>
        <td>{{item.PartQty}}</td>
        <td>{{item.PartRate}}</td>
        <td>{{item.Uom}}</td>
    </tr>
     {{#  }); }}
       {{# if(d.list.length<=0) { }}
          <tr style="color: red">
              <td colspan="8">查无数据。</td>
          </tr>
      {{# } }}

</script>

<script type="text/javascript">
    var paging;
    layui.config({ base: parent._baseUrl}).use(['paging', 'form'], function () {
        var form = layui.form;
        paging = layui.paging();
        var configId = $.getQueryString("configId");
        var primaryKey = $.getQueryString("primaryKey");
        initGrid(configId, primaryKey);
        
    });
    function initGrid(configId, primaryKey) {
        paging.init({
            url: '/param/recipe/part',
            elem: '#content1',
            tempElem: '#contentTpl1',
            checkbox: true, //是否显示复选框
            singleSelected: true, //单选
            params: {
                primaryKey: primaryKey,
                configId: configId
            },
            pageConfig: {
                elem: 'paged1',
                pageSize: 10,
            },
            success: function () {

            },
            fail: function (msg) {
                top.layer.msg(msg);
            }
        });
    }
    function initGrid2(configId, primaryKey) {
        paging.init({
            url: '/param/recipe/apart',
            elem: '#content2',
            tempElem: '#contentTpl2',
            checkbox: true, //是否显示复选框
            singleSelected: true, //单选
            params: {
                primaryKey: primaryKey,
                configId: configId
            },
            pageConfig: {
                elem: 'paged2',
                pageSize: 5,
            },
            success: function () {

            },
            fail: function (msg) {
                top.layer.msg(msg);
            }
        });
    }

    function btn_show() {
        var ids = $("#gridList1").gridSelectedRowValue();

        if (ids.length != 1) {
            $.layerMsg("请勾选单条记录查看。", "warning");
            return;
        }
        var configId = $.getQueryString("configId");
        initGrid2(configId, ids[0]);
    }

    function btn_add() {
        $.layerOpen({
            id: "add",
            title: "添加参数",
            width: "730px",
            height: "600px",
            content: "/param/recipe/partadd?ConfigId=" + $.getQueryString("configId") + "&primaryKey=" + $.getQueryString("primaryKey"),
            yes: function (iBody) {
                iBody.find('#btnSubmit').click();
                initGrid();
            }
        });
    }

    function btn_modify() {
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length != 1) {
            $.layerMsg("请勾选单条记录查看。", "warning");
            return;
        }
        $.layerOpen({
            id: "modify",
            title: "修改参数",
            width: "730px",
            height: "600px",
            content: "/param/recipe/partmodify?primaryKey=" + ids[0] + "&configId=" + $.getQueryString("configId"),
            yes: function (iBody) {
                iBody.find('#btnSubmit').click();
                initGrid();
            }
        });
    }

    function btn_delete() {
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length != 1) {
            $.layerMsg("请勾选单条记录查看。", "warning");
            return;
        }
        $.layerConfirm({
            closed:false,
            content: "您已选中1条数据, 确定删除吗？",
            callback: function () {
                $.formSubmit({
                    url: '/param/recipe/partdelete',
                    close: false,
                    data: {
                        primaryKey: ids[0],
                        ConfigId: $.getQueryString("configId")
                    },
                    success: function () {
                        initGrid();
                    }
                });
            }
        });
    }
</script>

