@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>工步</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/framework/css/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/select2/css/select2.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="/Content/jquery/jquery-1.9.1.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="~/Content/jquery/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/framework/js/global.js"></script>
    <link href="~/Content/ztree/css/metroStyle/metroStyle.css" rel="stylesheet" />
    <script src="~/Content/ztree/js/jquery.ztree.all.min.js"></script>
    <script src="~/Content/select2/js/select2.min.js"></script>
    <script src="~/Content/framework/js/global.js"></script>
</head>
<body>
    <div class="container-fluid fadeIn animated">
        <div id="toolbar" class="FNMES-table-toolbar">
            <button id="btnScrapped" class="toolbar-search-button layui-btn layui-btn-normal layui-btn-small" style="line-height:20px" onclick="btn_Scrapped()">
                报废
            </button>
            <button id="btnExport" class="toolbar-search-button layui-btn layui-btn-normal layui-btn-small" style="line-height:20px" onclick="btn_Export()">
                导出
            </button>
            <button id="btnSearch" class="toolbar-search-button layui-btn layui-btn-normal layui-btn-small" style="line-height:20px">
                <i class="layui-icon">&#xe615;</i>
            </button>
            <div class="toolbar-search-input">
                <input type="text" id="keyWord" placeholder="内控码或Pack码" autocomplete="off" class="layui-input" style="width:300px;height:39px">
            </div>

            @* <button id="btnCancelScrapped" class="toolbar-search-button layui-btn layui-btn-normal layui-btn-small" style="line-height:20px" onclick="btn_CancelScrapped()">
                取消报废
            </button> *@
        </div>
        <table id="gridList" class="layui-form layui-table FNMES-table" lay-skin="line">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" lay-skin="primary">
                    </th>
                    <th>编号</th>
                    <th>工单</th>
                    <th>内控码</th>
                    <th>Pack码</th>
                    <th>时间</th>
                    <th>标志</th>
                    <th>档位</th>
                </tr>
            </thead>
            <!--内容容器-->
            <tbody id="content"></tbody>
        </table>
        <div id="paged"></div>
    </div>
</body>
</html>

<!--内容模板-->
<script id="contentTpl" type="text/html">
    {{#  layui.each(d.list, function(index, item){ }}
    <tr>
        <td>
            <input type="checkbox" lay-skin="primary" value="{{item.Id}}">
        </td>
        <td>{{item.Id}}</td>
        <td>{{item.TaskOrderNumber}}</td>
        <td>{{item.ProductCode}}</td>
        <td>{{item.PackNo}}</td>
        <td>{{item.CreateTime}}</td>
        <td>{{item.Flag}}</td>
        <td>{{item.PackCellGear}}</td>
    </tr>
    {{#  }); }}
    {{# if(d.list.length<=0) { }}
        <tr style="color: red">
            <td colspan="8">查无数据。</td>
        </tr>
    {{# } }}
</script>

<script type="text/javascript">
    var paging;
    layui.config({ base: parent._baseUrl }).use(['paging', 'form'], function () {
        var form = layui.form;
        paging = layui.paging();

        var primaryKey = $.getQueryString("primaryKey");
        var configId = $.getQueryString("configId");
        $('#btnSearch').click(initGrid);
       
        initGrid(primaryKey,configId);
    });
    
    function initGrid(primaryKey, configId) {
        paging.init({
            url: '/param/order/getData',
            elem: '#content',
            tempElem: '#contentTpl',
            checkbox: true, //是否显示复选框
            singleSelected: true, //单选
            params: {
                primaryKey: $.getQueryString("primaryKey"),
                configId: $.getQueryString("configId"),
                keyWord: $("#keyWord").val(),
            },
            pageConfig: {
                elem: 'paged',
                pageSize: 15,
            },
            success: function () {

            },
            fail: function (msg) {
                top.layer.msg(msg);
            }
        });
    }

    function btn_Scrapped() {
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length != 1) {
            $.layerMsg("请勾选一条需要报废的产品。", "warning");
            return;
        }
        var data = $("#gridList").gridSelectedRowData();
        $.layerOpen({
            id: "scrap",
            title: "报废产品",
            width: "600px",
            height: "600px",
            content: "/param/order/scrap?primaryKey=" + ids[0] + "&configId=" + $.getQueryString("configId") + "&productCode=" + data[3],
            yes: function (iBody) {
                iBody.find('#btnSubmit').click();
                initGrid();
            }
        });
    }

    function btn_Export() {
        $.layerMsg("正在请求导出...请耐心等待", "warning");
        var order = $('#gridList tr:eq(1) td:eq(2)').text()
        //文件下载用fetch
        fetch("/param/order/export?configId=" + $.getQueryString("configId") + "&primaryKey=" + $.getQueryString("primaryKey"), {
            method: "GET",
        })
            .then(response => {
                if (!response.ok) {
                    return response.text();
                }
                return response.blob();
            })
            .then(blob => {
                if (typeof blob == "string") {
                    $.layerMsg(blob, "warning");
                    return
                }
                // 创建一个临时链接以下载文件
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.href = url;
                a.download = order + "-orderdata" + ".xlsx"; // 文件名
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            });
    }

    function btn_CancelScrapped() {
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length != 1) {
            $.layerMsg("请勾选一条需要取消报废的产品。", "warning");
            return;
        }
        $.layerConfirm({
            content: "您已选中1个产品, 确定取消报废吗？",
            callback: function () {
                $.formSubmit({
                    url: '/param/order/scrapped',
                    data: {
                        primaryKey: ids[0],
                        configId: $.getQueryString("configId"),
                        isScrapped: false
                    },
                    success: function () {
                        initGrid();
                    }
                });
            }
        });
    }
</script>

