@using Microsoft.Extensions.Localization
@using FNMES.WebUI;

@inject IStringLocalizer<SharedResource> SharedLocalizer﻿

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Default</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel container-panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">@SharedLocalizer﻿["DataCollectionHomepage "] <span class="label label-primary label-sm">New</span></h1>
                        <div class="panel-actions">
                        </div>
                    </div>
                    <div class="panel-body">
                        <p style="text-indent: 25px;">@SharedLocalizer["Homepage"] </p>
                    </div>
                </div>
                <div class="panel container-panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">@SharedLocalizer["UpdateLog"]</h1>
                        <div class="panel-actions">
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="layui-collapse">
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">
                                    <span class="label label-primary">v1.0.0</span>
                                    <span class="right">2025/10/11 14:56:07</span>

                                </h2>
                                <div class="layui-colla-content">
                                    <p>@SharedLocalizer﻿["DataCollection"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Content/layui/layui.js"></script>
