﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Default</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel container-panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">MES主页 <span class="label label-primary label-sm">New</span></h1>
                        <div class="panel-actions">
                        </div>
                    </div>
                    <div class="panel-body">
                        <p style="text-indent: 25px;">主页 </p>
                    </div>
                </div>
                <div class="panel container-panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">更新日志</h1>
                        <div class="panel-actions">
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="layui-collapse">
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">
                                    <span class="label label-primary">v1.0.0</span>
                                    <span class="right">更新于2024年12月14日 09:57:00</span>
                                </h2>
                                <div class="layui-colla-content">
                                    <p>FNMES</p>
                                    <p>2024年12月14日</p>
                                    <p>1、完善过站记录导出功能，先确保能导出5w行数据并统计实际数据量，需要排查Row out of Range错误</p>
                                    <p>2、过站记录导出功能，正常100w数据能导出，耗时需要5-6分钟，需要优化查询逻辑</p>
                                    <p>持续完善中...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@*<script async defer src="~/Scripts/buttons.js"></script>*@
<script src="~/Content/layui/layui.js"></script>
@*<script type="text/javascript">
    layui.use(['element'], function () {
        var element = layui.element;
    });
</script>*@