@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>预处理物料</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/framework/css/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/select2/css/select2.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="/Content/jquery/jquery-1.9.1.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="~/Content/jquery/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/select2/js/select2.min.js"></script>
    <script src="~/Content/framework/js/global.js"></script>
    <style>
        .container {
            width: 100%;
            overflow: auto;
        }

        .div-test {
            overflow-x: auto;
            overflow-y: auto;
            height: 100%;
            width: 100%;
        }

            .div-test::-webkit-scrollbar {
                width: 12px;
                /* 设置竖向滚动条的宽度 */
                height: 12px;
                /* 设置横向滚动条的高度 */
            }

            .div-test::-webkit-scrollbar-thumb {
                background-color: #888;
                /* 滚动条的颜色 */
                border-radius: 10px;
                /* 滚动条的圆角 */
            }

                .div-test::-webkit-scrollbar-thumb:hover {
                    background-color: #555;
                    /* 滚动条悬停时的颜色 */
                }

            .div-test::-webkit-scrollbar-track {
                background: #f1f1f1;
                /* 滚动条轨道的颜色 */
                border-radius: 10px;
                /* 轨道的圆角 */
            }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-top: 10px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
            white-space: nowrap;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }

        td {
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            max-width: 200px;
        }
    </style>
</head>
<body>
    <div class="panel animated fadeIn">
        <div class="panel-body div-test">
            <div class="layui-inline" style="margin-bottom: 10px;">
                <select lay-ignore name="lineId" class="select2" id="lineId" style="width: 250px;height: 30px;" lay-verify="required"></select>
            </div>

            <div id="toolbar" class="FNMES-table-toolbar">
                <div class="layui-btn-group"> </div>
                <div class="layui-btn-group" id="queryDate">
                    <button value="1" class="layui-btn layui-btn-primary layui-btn-small">今天</button>
                    <button value="2" class="layui-btn layui-btn-primary layui-btn-small active">近7天</button>
                    <button value="3" class="layui-btn layui-btn-primary layui-btn-small">近1个月</button>
                    <button value="4" class="layui-btn layui-btn-primary layui-btn-small">近3个月</button>
                </div>
                <div class="layui-btn-group">
                    <button onclick="export_btn()" class="layui-btn layui-btn-primary layui-btn-small">导出数据</button>
                </div>
                <button id="btnSearch" class="toolbar-search-button layui-btn layui-btn-normal layui-btn-small" style="line-height:20px">
                    <i class="layui-icon">&#xe615;</i>
                </button>
                <div class="toolbar-search-input">
                    <input type="text" id="keyWord" placeholder="key" autocomplete="off" class="layui-input" style="height:39px">
                </div>
            </div>
            <table id="gridList"  lay-skin="line">
                <thead>
                    <tr>
                        <th>条码</th>
                        <th>工站</th>
                        <th>小工站</th>
                        <th>物料号</th>
                        <th>物料描述</th>
                        <th>物料条码</th>
                        <th>批次物料</th>
                        <th>用量</th>
                        <th>单位</th>
                        <th>创建时间</th>
                    </tr>
                </thead>
                <!--内容容器-->
                <tbody id="content"></tbody>
            </table>
            <div id="paged"></div>
        </div>
    </div>
</body>
</html>

<!--内容模板-->
<script id="contentTpl" type="text/html">
      {{#  layui.each(d.list, function(index, item){ }}
    <tr>
         <td>{{item.productCode}}</td>
         <td>{{item.stationCode}}</td>
        <td>{{item.smallStationCode}}</td>
        <td>{{item.partNumber}}</td>
        <td>{{item.partDescription}}</td>
        <td>{{item.partBarcode}}</td>
        <td>{{item.traceType}}</td>
        <td>{{item.usageQty}}</td>
        <td>{{item.partuom}}</td>
        <td>{{item.createTime}}</td>
    </tr>
      {{#  }); }}
       {{# if(d.list.length<=0) { }}
          <tr style="color: red">
              <td colspan="10">查无数据。</td>
          </tr>
      {{# } }}
</script>

<script type="text/javascript">
    var paging;
    layui.config({
        base: parent._baseUrl
    }).use(['paging', 'form', 'layer'], function () {
        var layer = parent.layer || layui.layer;
        var form = layui.form;
        paging = layui.paging();
        $("#lineId").bindSelect({
            type: "POST",
            url: "/system/line/getListTreeSelect",
            title: '请选择线体'
        });
        $("#toolbar").authorizeButton();
        $('#btnSearch').click(initGrid);
        $('#keyWord').bindEnterEvent(initGrid);
        // initGrid();

    });
    //$("#lineId").bindChangeEvent(initGrid);
    $("#lineId").on("select2:select", function (e) {
        // 处理选择事件
        if ($("#lineId").val() == "0") {
            return
        };
        initGrid();
    });

    function flush() {
        if ($("#lineId").val() == "0") {
            return
        };
        initGrid();
    }

    $('#queryDate').find('button').click(function (i, v) {
        $(this).addClass('active');
        $(this).siblings('button').removeClass('active');
        initGrid();
    });

    function initGrid() {
        if ($("#lineId").val() == "0") {
            return
        };
        paging.init({
            url: '/param/preEquipment/part',
            elem: '#content',
            tempElem: '#contentTpl',
            singleSelected: true, //单选
            params: {
                keyWord: $("#keyWord").val(),
                configId: $("#lineId").val(),
                index: $('#queryDate').find('button.active').val(),
            },
            pageConfig: {
                elem: 'paged',
                pageSize: 10,
            },
            success: function () {

            }
        });
    }

    function export_btn() {
        if ($("#lineId").val() == "0") {
            $.layerMsg("请先选择线体。", "warning");
            return;
        }
        // 发送请求到后端以触发文件导出
        fetch("/param/preEquipment/exportpart?configId=" + $("#lineId").val() + "&index=" + $('#queryDate').find('button.active').val(), {
            method: "GET",
        }).then(response => response.blob())
            .then(blob => {
                // 创建一个临时链接以下载文件
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.href = url;
                a.download = $("#lineId").val() + "-HotRivetPart.xlsx"; // 文件名
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            });
    }
</script>
