<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="MesRollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <!-- 
      关键点：使用 type="log4net.Util.PatternString" 来指定这是一个模式字符串。
      %property{InterfaceName} 会从 GlobalContext.Properties 中获取值。
      %date{yyyyMMdd} 会被解析为当前日期。
    -->
    <file type="log4net.Util.PatternString" value="D:\MESLOG\%property{InterfaceName}\%date{yyyyMMdd}.log" />

    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="MesRollingFileAppender" />
  </root>
</log4net>