<configuration>
	<log4net>
		<!--错误日志类-->
		<logger name="logerror">
			<!--定义记录的日志级别-->
			<level value="ALL" />
			<!--记录到哪个介质中去-->
			<appender-ref ref="ErrorAppender" />
			<appender-ref ref="ConsoleAppender" />
		</logger>
		<!--运行信息日志类-->
		<logger name="loginfo">
			<level value="ALL" />
			<appender-ref ref="InfoAppender" />
			<appender-ref ref="ConsoleAppender" />
		</logger>
		<!--操作日志类-->
		<logger name="logoperate">
			<level value="ALL" />
			<appender-ref ref="OperateAppender" />
			<appender-ref ref="ConsoleAppender" />
		</logger>

		<!--错误日志附加介质-->
		<appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
			<!-- name属性指定其名称,type则是log4net.Appender命名空间的一个类的名称,意思是,指定使用哪种介质-->
			<param name="File" value="\\Log\\Error" />
			<param name="AppendToFile" value="true" />
			<param name="MaximumFileSize" value="10MB" />
			<param name="MaxSizeRollBackups" value="100" />
			<param name="StaticLogFileName" value="false" />
			<param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
			<param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
			<param name="RollingStyle" value="Date" />
			<!--信息日志布局-->
			<layout type="log4net.Layout.PatternLayout">
				<!--<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n %loggername" />-->
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<!--信息日志附加介质-->
		<appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="\\Log\\Info" />
			<param name="AppendToFile" value="true" />
			<param name="MaximumFileSize" value="10MB" />
			<param name="MaxSizeRollBackups" value="100" />
			<param name="StaticLogFileName" value="false" />
			<param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
			<param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
			<param name="RollingStyle" value="Date" />
			<!--信息日志布局-->
			<layout type="log4net.Layout.PatternLayout">
				<!--<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n %loggername" />-->
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>


		<!--警告日志附加介质-->
		<appender name="OperateAppender" type="log4net.Appender.RollingFileAppender">
			<!-- name属性指定其名称,type则是log4net.Appender命名空间的一个类的名称,意思是,指定使用哪种介质-->
			<param name="File" value="\\Log\\Operate" />
			<param name="AppendToFile" value="true" />
			<param name="MaximumFileSize" value="10MB" />
			<param name="MaxSizeRollBackups" value="100" />
			<param name="StaticLogFileName" value="false" />
			<param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
			<param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
			<param name="RollingStyle" value="Date" />
			<!--信息日志布局-->
			<layout type="log4net.Layout.PatternLayout">
				<!--<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n %loggername" />-->
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>
	</log4net>
</configuration>