@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form" class="layui-form" style="margin-top: 25px">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label label-required">编码</label>
            <div class="layui-input-inline">
                <input type="hidden" name="Id" />
                <input type="hidden" name="LineId" id="LineId" />
                <input type="text" name="EnCode" lay-verify="required" placeholder="请输入编码" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label label-required">IP</label>
            <div class="layui-input-inline">
                <input type="text" name="IP" lay-verify="required" placeholder="请输入ip" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label label-required">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="Name" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label label-required">大工序编码</label>
            <div class="layui-input-inline">
                <select class="select2 layui-input-inline" lay-ignore name="BigProcedure" lay-verify="required" id="BigProcedure" style="width: 130px"></select>
            </div>
            <label class="layui-form-label label-required">小工序编码</label>
            <div class="layui-input-inline">
                <select class="select2 layui-input-inline" lay-ignore name="UnitProcedure" lay-verify="required" id="UnitProcedure" style="width: 130px">
                    <option value="null">--请选择--</option>
                </select>
            </div>
        </div>
     </div>
     <div class="layui-form-item">   
        <div class="layui-inline">
            <label class="layui-form-label">选项</label>
            <div class="layui-input-inline">
                <input type="checkbox" lay-skin="primary" name="IsEnabled" value="true" title="启用" checked>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">排序码</label>
            <div class="layui-input-inline">
                <input type="number" name="SortCode" lay-verify="number" placeholder="请输入排序" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline" style="width: 514px;">
                    <textarea name="Description" class="layui-textarea" placeholder="请输入备注"></textarea>
                </div>
            </div>
     </div>
    
    
    <div class="layui-form-item" style="display: none">
        <div class="layui-input-block">
            <button id="btnSubmit" class="layui-btn" lay-submit lay-filter="add">提交</button>
        </div>
    </div>
</form>
<script>
    layui.use(['form'], function () {
        var form = layui.form;

        var primaryKey = $.getQueryString("primaryKey");
        var lineId = $.getQueryString("lineId");
        if (lineId) {
            $('#LineId').val(lineId);
        }
        if (primaryKey) {
            $.ajax({
                url: "/system/equipment/getForm",
                data: { primaryKey: primaryKey },
                type: "post",
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form").formSerialize(data);
                }
            });
        }
        lineId = $('#LineId').val();

        $("#BigProcedure").bindSelect({
            type: "POST",
            url: "/param/unitProcedure/getParentByLine?lineId=" + lineId,
            change: function (selectedData) {
                
                if (selectedData.id) {
                    // 通过选择器选择你要清空的<select>元素
                    var selectElement = $("#UnitProcedure");

                    // 使用.empty()方法来清空选项
                    selectElement.empty();


                    $("#UnitProcedure").bindSelect({
                        type: "POST",
                        url: "/param/unitProcedure/getProcedureByline?lineId=" + lineId + "&parent=" + selectedData.id
                    });
                    
                    form.render('select');

                }
            }
        } );
        $("#UnitProcedure").bindSelect({
            type: "POST",
            url: "/param/unitProcedure/getProcedureByline?lineId=" + lineId + "&parent=" + $('#BigProcedure').val()
        });
       
        form.render();

        form.on('submit(add)', function (data) {
            $.formSubmit({
                url: "/system/equipment/form",
                data: data.field
            });
            return false;
        });
    });

    

</script>
