@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>工单列表</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/framework/css/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/select2/css/select2.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="/Content/jquery/jquery-1.9.1.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="~/Content/jquery/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/select2/js/select2.min.js"></script>
    <script src="~/Content/framework/js/global.js"></script>
</head>
<body>
    <div class="panel animated fadeIn">
        <div class="panel-body">
            <div class="layui-inline" style="margin-bottom: 10px;">
                    <select lay-ignore name="lineId" class="select2" id="lineId"  style="width: 250px;height: 30px;" lay-verify="required"></select>
                <span style="display:inline-block;margin-left: 50px">请输入重新绑定的AGV码：</span>
                <input type="text" id="agvCode" placeholder="托盘码/AGV码" autocomplete="off" class="layui-input"
                       style="height:39px;width:160px;display:inline-block;" />

                </div>

            <div id="toolbar" class="FNMES-table-toolbar">
                <div class="layui-btn-group"> 
                   
                </div>
                <div class="layui-btn-group" id="queryDate">
                    <button value="1" class="layui-btn layui-btn-primary layui-btn-small active">正序</button>
                    <button value="2" class="layui-btn layui-btn-primary layui-btn-small ">倒序</button>                    
                </div>

                <button id="btnSearch" class="toolbar-search-button layui-btn layui-btn-normal layui-btn-small" style="line-height:20px">
                        <i class="layui-icon">&#xe615;</i>
                </button>
                <div class="toolbar-search-input">
                    <input type="text" id="keyWord" placeholder="托盘或内控码" autocomplete="off" class="layui-input" style="height:39px">
                </div>
            </div>
            <table id="gridList" lay-filter="gridList" class="layui-table" lay-skin="line"></table>
        </div>
    </div>
</body>
</html>

<!--内容模板-->
<script id="statusTpl" type="text/html">
     {{# if(d.Status == "OK"){ }}
     <span class="label label-success label-sm">OK</span>
    {{# } else { }}
       <span  class="label label-red label-sm">NG</span>
        <!-- 其他状态的处理，可以根据实际需求添加更多条件 -->
    {{# } }}
</script>
<script id="selectTpl" type="text/html">
     {{# if(d.RepairFlag == "1"){ }}
     <span class="label label-success label-sm">是</span>
    {{# } else { }}
       <span  class="label label-dark label-sm">否</span>
        <!-- 其他状态的处理，可以根据实际需求添加更多条件 -->
    {{# } }}
</script>


<script type="text/javascript">
    var paging;
    layui.config({
        base: parent._baseUrl
    }).use(['paging', 'form', 'layer',"table"], function () {
        var layer = parent.layer || layui.layer;
        var form = layui.form;
        var table = layui.table;
        paging = layui.paging();
        $("#lineId").bindSelect({
            type: "POST",
            url: "/system/line/getListTreeSelect",
            title: '请选择线体'
        });
        $("#toolbar").authorizeButton();
        $('#btnSearch').click(initGrid);
        $('#keyWord').bindEnterEvent(initGrid);
       //initGrid();

    });
    //$("#lineId").bindChangeEvent(initGrid);
    $("#lineId").on("select2:select", function (e) {
    // 处理选择事件
        if ($("#lineId").val() == "0") {
            return
        };
        initGrid();
    });

    

    $('#queryDate').find('button').click(function (i, v) {
        $(this).addClass('active');
        $(this).siblings('button').removeClass('active');
        initGrid();
    });

    function initGrid() {
        if ($("#lineId").val() == "0") {
            return
        };
        
        var selectUrl = '/record/bind/data';
        
        layui.table.render({
            elem: '#gridList',
            url: selectUrl, // 替换成实际的接口地址
            where: {
                keyWord: $("#keyWord").val(),
                configId: $("#lineId").val(),
                index: $('#queryDate').find('button.active').val()
            },
            cols: [getCols()],
            parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.msg,
                    "count": res.count,
                    "data": res.list,
                };
            },
            page: true, // 开启表格默认分页
            limit: 10, // 每页显示条数
            limits: [5, 10]
        });
    };
    function getCols() {
            return [
                // Define your columns for condition 1
            { field: 'PalletNo', title: '托盘' },
            { field: 'ProductCode', title: '内控码' },
            { field: 'TaskOrderNumber', title: '工单' },
            { field: 'ProductPartNo', title: '产品名称' },
            { field: 'ConfigId', title: '所属线体' },
            { field: 'CurrentStation', title: '最近工站' },
            { field: 'Diverter', title: '分流器条码' },
            { field: 'ReessNo', title: '国标码' },
            { field: 'GlueTime', title: '中段涂胶时间' },
            { field: 'Status', title: '状态', templet: '#statusTpl' },
            { field: 'RepairFlag', title: '返修', templet: '#selectTpl' },
            { field: 'RepairStations', title: '返修站' },
            ];
    }

    function btn_binding() {
        var data = $("#gridList").gridSelectedRowData();
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length != 1) {
            $.layerMsg("请勾选需要登记的数据。", "warning");
            return;
        }
        $.layerConfirm({
            content: "您已选中1条数据, 确定绑定吗？",
            callback: function () {
                $.formSubmit({
                    url: '/record/bind/binding',
                    data: {
                        palletNo: $("#agvCode").val(),
                        productCode: data[2],
                        currentStation: data[3],
                        configId: $("#lineId").val(),

                    },
                    success: function () {
                        initGrid();
                    }
                });
            }
        });
    }

    function btn_unbinding() {
        var data = $("#gridList").gridSelectedRowData();
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length != 1) {
            $.layerMsg("请勾选需要登记的数据。", "warning");
            return;
        }
        $.layerConfirm({
            content: "您已选中1条数据, 确定解绑吗？",
            callback: function () {
                $.formSubmit({
                    url: '/record/bind/unbinding',
                    data: {
                        palletNo: $("#agvCode").val(),,
                        productCode: data[2],
                        currentStation: data[3],
                        configId: $("#lineId").val(),

                    },
                    success: function () {
                        initGrid();
                    }
                });
            }
        });
    }

    </script>
