@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户列表</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/framework/css/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/select2/css/select2.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="/Content/jquery/jquery-1.9.1.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="~/Content/jquery/jquery-3.6.0.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/select2/js/select2.min.js"></script>
    <script src="~/Content/framework/js/global.js"></script>
</head>
<body>
    <form id="form" class="layui-form" style="margin-top: 25px">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label label-required">选择工序</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="Id" id="Id" />
                    <input type="hidden" name="ConfigId" id="ConfigId" />
                    <input type="hidden" name="ProductPartNo" id="ProductPartNo" />
                    <select class="select2 layui-input-inline" lay-ignore name="StationCode" lay-verify="required" id="StationCode" style="width: 130px"></select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label label-required">工序顺序号</label>
                <div class="layui-input-inline">
                    <input type="number" name="Step" id="Step" lay-verify="required" placeholder="请输入序号" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
             <div class="layui-inline">
                    <label class="layui-form-label label-required">校验工站</label>
                    <div class="layui-input-inline">
                        <select lay-ignore name="CheckStations" class="select2" id="CheckStations" multiple="multiple" style="width: 514px;" ></select>
                    </div>
             </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">选项</label>
                <div class="layui-input-block">
                    <input type="checkbox" lay-skin="primary" name="IsAllowJump" value="true" title="允许跳站" checked>
                    <input type="checkbox" lay-skin="primary" name="IsAllowRepeat" value="true" title="允许重复作业">
                    <input type="checkbox" lay-skin="primary" name="IsTranshipStation" value="true" title="中转工序">
                    <input type="checkbox" lay-skin="primary" name="IsGenerateCodeStation" value="true" title="生成国标码工序">
                    <input type="checkbox" lay-skin="primary" name="IsEntrance" value="true" title="入口工序">
                </div>
            </div>
        </div>

        <div class="layui-form-item" style="display: none">
            <div class="layui-input-block">
                <button id="btnSubmit" class="layui-btn" lay-submit lay-filter="add">提交</button>
            </div>
        </div>
    </form>

        <script type="text/javascript">
        layui.use(['element', 'form', 'laydate', 'layer', 'dropdown'], function () {
            var form = layui.form;
            var element = layui.element;
            var laydate = layui.laydate;
            var dropdown = layui.dropdown;

            

                var configId = $.getQueryString("configId");
                $("#ConfigId").val(configId);
        
                $("#StationCode").bindSelect({
                    type: "POST",
                    url: "/param/unitProcedure/getParentCode?configId=" + configId
                });


                $("#CheckStations").bindSelect({
                    type: "POST",
                    url: "/param/unitProcedure/getParentCode?configId=" + configId,
                    title: '请选择校验工序'
                });
                var configId = $.getQueryString("configId");
                $("#ConfigId").val(configId);
                var primaryKey = $.getQueryString("primaryKey");
                var productPartNo = $.getQueryString("productPartNo");
                $("#ProductPartNo").val(productPartNo);

                if (primaryKey) {
                    $.ajax({
                        url: "/param/route/getForm",
                        data: { primaryKey: primaryKey,
                                configId: configId },
                        type: "post",
                        dataType: "json",
                        async: false,
                        success: function (data) {
                            //在这里反序列化
                            $("#form").formSerialize(data);
                            $("#ConfigId").val(configId);
                        }
                    });
                }
                form.render();
                form.on('submit(add)', function (form) {
                    var type = $('input[name="IsParent"]:checked').val();
                    var parentIsNull = $("#Pid").val() == null;
                    form.field.Criterion = $("#CheckStations").val().join();
                    $.formSubmit({
                        url: "/param/route/form",
                        data: form.field
                    });
                    return false;
                });
            });
        </script>
    </body>
</html>

  
